services:
  proxy:
    image: hypertube-proxy
    container_name: 'hypertube-proxy'
    networks:
      - hypertube
    depends_on:
      - frontend
    build:
      context: services/proxy
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - ./services/proxy/certs:/etc/nginx/certs
    ports:
      - '8080:8080'
    restart: on-failure

  frontend:
    image: hypertube-frontend
    container_name: 'hypertube-frontend'
    volumes:
      #- data-frontend:/var/www/hypertube_frontend
      - ./volumes/frontend:/app
      - /app/node_modules
    networks:
      - hypertube
    build:
      context: .
      dockerfile: services/frontend/Dockerfile
    env_file: .env
    expose:
      - '5173'
    restart: on-failure

  users:
    image: hypertube-users
    container_name: 'hypertube-users'
    volumes:
      - users:/code
    networks:
      - hypertube
    build:
      context: services/users
      dockerfile: Dockerfile
    env_file: .env
    expose:
      - '8443'
    restart: on-failure

  auth:
    image: hypertube-auth
    container_name: 'hypertube-auth'
    volumes:
      - auth:/code
    networks:
      - hypertube
    build:
      context: services/auth
      dockerfile: Dockerfile
    env_file: .env
    expose:
      - '8443'
    restart: on-failure

  movies:
    image: hypertube-movies
    container_name: 'hypertube-movies'
    volumes:
      - movies:/code
    networks:
      - hypertube
    build:
      context: services/movies
      dockerfile: Dockerfile
    env_file: .env
    expose:
      - '8443'
    restart: on-failure

  db:
    image: hypertube-db
    container_name: 'hypertube-db'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - hypertube
    build:
      context: ./db
      dockerfile: Dockerfile
    environment:
      POSTGRES_DB: hypertube
      POSTGRES_USER: hypertube
      POSTGRES_PASSWORD: hypertube
    env_file: .env
    ports:
      - "5432:5432"
    restart: on-failure
  
  pgAdmin:
    image: docker.io/dpage/pgadmin4
    container_name: hypertube-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: demo@example.com
      PGADMIN_DEFAULT_PASSWORD: secret
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      MASTER_PASSWORD_REQUIRED: 'False'
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - hypertube
    restart: on-failure
    volumes:
      - ./servers.json:/pgadmin4/servers.json

  dbgate:
    image: dbgate/dbgate
    restart: always
    ports:
      - 5051:3000
    volumes:
      - ./dbgate-data:/root/.dbgate
    environment:
      CONNECTIONS: con1
      LABEL_con1: Hypertube Database
      SERVER_con1: hypertube-db
      DATABASE_con1: $DB_NAME
      USER_con1: $DB_USER
      PASSWORD_con1: $DB_PASSWORD
      PORT_con1: $DB_PORT
      ENGINE_con1: postgres@dbgate-plugin-postgres


volumes:
  data-frontend:
    name: data-frontend
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: placeholder/volumes/frontend

  users:
    name: users
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: placeholder/volumes/users

  auth:
    name: auth
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: placeholder/volumes/auth

  movies:
    name: movies
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: placeholder/volumes/movies

  postgres-data:
    name: postgres-data


networks:
  hypertube:
    name: hypertube
    driver: bridge
